

thop==0.1.1.post2207130030

--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.11.0+cpu
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.12.0+cpu
tqdm==4.64.0

typing_extensions==4.2.0

urllib3==1.26.9


whitenoise==6.2.0


requests==2.27.1
requests-oauthlib==1.3.1

sqlparse==0.4.2

opencv-python==4.5.5.64

numpy==1.22.3

pandas==1.4.2
PyYAML==6.0
Pillow==9.1.0
scipy>=1.4.1

psutil==5.9.1
psycopg2==2.9.3
cachetools==5.0.0
charset-normalizer==2.0.12
Django==4.0.4
django-cors-headers==3.13.0
djangorestframework==3.13.1


glom==22.1.0


gunicorn==20.1.0


ipython==8.4.0
